.action {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e5e7eb;

    &:hover{
        cursor: pointer;
        background-color: whitesmoke;
        transform: scale(1.1);
    }
}