/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Barlo-Regular";
    src: url(assets/fonts/Barlow-Regular.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(assets/fonts/Inter-Regular.ttf);
}

@import "variables.scss";


body {
    background-color: $dominant-color;
    font-family: "Inter-Regular";
    color: #fff;
}

p {
    margin: 0;
}

.title {
    color: $secondary-color;
    font-weight: bolder;
    letter-spacing: 10px;
  }